<!DOCTYPE html>
<html>
  <head>
    <title>WhDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <% if current_admin_user.present? && current_admin_user != current_user %>
        <%= "#{current_admin_user.email} is logged in as #{current_user.email}" %>
      <% else %>
        <%= "Logged in as #{current_user.email}" %>
        <% if current_user.is_admin? %>
          | <%= link_to 'Admin', admins_path %>
        <% end %>
      <% end %>
      | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Log In', login_path %>
      | <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <hr />

    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>

    <%= yield %>
  </body>
</html>
